In [85]:
# Import required packages
import numpy as np
import pandas as pd

import time 
import cv2
import matplotlib.pyplot as plt
from sklearn.metrics import classification_report
from sklearn.linear_model import LogisticRegression

import tensorflow as tf
from tensorflow.keras.callbacks import ModelCheckpoint, ReduceLROnPlateau
from tensorflow.keras.layers import Input, Dense, BatchNormalization, Flatten, MaxPooling2D, Activation, GlobalMaxPool2D, GlobalAvgPool2D, Concatenate, Multiply, Dropout, Subtract
from tensorflow.keras.models import Model, Sequential
from tensorflow.keras.layers import Conv2D, MaxPooling2D
from tensorflow.keras.layers import Activation, Dropout, Flatten, Dense
from tensorflow.keras.preprocessing.image import ImageDataGenerator, array_to_img, img_to_array, load_img
from tensorflow.keras.optimizers import SGD, Adam, RMSprop, Nadam
from sklearn.utils import shuffle
from sklearn.model_selection import train_test_split

from functools import partial
from pprint import pprint

from sklearn.datasets import load_boston
#from sklearn.ensemble import GradientBoostingRegressor, RandomForestRegressor
from sklearn.ensemble import GradientBoostingClassifier, RandomForestClassifier
from sklearn.metrics import make_scorer, mean_squared_error, log_loss
from sklearn.model_selection import cross_val_score, KFold
from sklearn.utils import check_random_state

In [73]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [48]:
compas = pd.read_csv('../data/compas-scores-two-years.csv', encoding='latin-1')

In [16]:
compas.columns

Index(['id', 'name', 'first', 'last', 'compas_screening_date', 'sex', 'dob',
       'age', 'age_cat', 'race', 'juv_fel_count', 'decile_score',
       'juv_misd_count', 'juv_other_count', 'priors_count',
       'days_b_screening_arrest', 'c_jail_in', 'c_jail_out', 'c_case_number',
       'c_offense_date', 'c_arrest_date', 'c_days_from_compas',
       'c_charge_degree', 'c_charge_desc', 'is_recid', 'r_case_number',
       'r_charge_degree', 'r_days_from_arrest', 'r_offense_date',
       'r_charge_desc', 'r_jail_in', 'r_jail_out', 'violent_recid',
       'is_violent_recid', 'vr_case_number', 'vr_charge_degree',
       'vr_offense_date', 'vr_charge_desc', 'type_of_assessment',
       'decile_score.1', 'score_text', 'screening_date',
       'v_type_of_assessment', 'v_decile_score', 'v_score_text',
       'v_screening_date', 'in_custody', 'out_custody', 'priors_count.1',
       'start', 'end', 'event', 'two_year_recid'],
      dtype='object')

In [49]:
compas = compas[["sex","age_cat","race","juv_fel_count","decile_score","juv_misd_count","juv_other_count",
                "priors_count","c_charge_degree","two_year_recid"]]

In [50]:
compas = compas.loc[compas.race.isin(["Caucasian", "African-American"])]

In [44]:
compas.head()

,sex,age_cat,race,juv_fel_count,decile_score,juv_misd_count,juv_other_count,priors_count,c_charge_degree,two_year_recid
1,1,25 - 45,African-American,0,3,0,0,0,F,1
2,1,Less than 25,African-American,0,4,0,1,4,F,1
3,1,Less than 25,African-American,0,8,1,0,1,F,0
6,1,25 - 45,Caucasian,0,6,0,0,14,F,1
8,0,25 - 45,Caucasian,0,1,0,0,0,M,0

In [ ]:
df_dummy = df.copy()
df_dummy['sex'] = (df['sex'].values == 'Female').astype(int)
df_dummy['race'] = (df['race'].values == 'African-American').astype(int)
df_dummy = pd.concat([df_dummy, pd.get_dummies(df.age_cat, drop_first=True)], axis=1)
df_dummy = df_dummy.drop('age_cat', axis=1)
df_dummy = df_dummy.rename(columns={"Greater than 45": "gt45", "Less than 25": "lt25"})
df_dummy['c_charge_degree'] = (df['c_charge_degree'].values == 'F').astype(int)
df_dummy

In [60]:
compas_encoded = compas.copy()

In [61]:
compas_encoded.sex = pd.get_dummies(compas["sex"])["Female"]
compas_encoded.race = pd.get_dummies(compas["race"])["African-American"]
compas_encoded.c_charge_degree = pd.get_dummies(compas["c_charge_degree"])["F"]

compas_encoded = pd.concat([compas_encoded, pd.get_dummies(compas.age_cat, drop_first=True)], axis=1)
compas_encoded = compas_encoded.drop('age_cat', axis=1)

In [62]:
compas_encoded.head()

,sex,race,juv_fel_count,decile_score,juv_misd_count,juv_other_count,priors_count,c_charge_degree,two_year_recid,Greater than 45,Less than 25
1,0,1,0,3,0,0,0,1,1,0,0
2,0,1,0,4,0,1,4,1,1,0,1
3,0,1,0,8,1,0,1,1,0,0,1
6,0,0,0,6,0,0,14,1,1,0,0
8,1,0,0,1,0,0,0,0,0,0,0

In [63]:
X = ['sex','Greater than 45','Less than 25','juv_fel_count','decile_score','juv_misd_count','juv_other_count','priors_count']
S = "race"
E = "c_charge_degree"
Y = "two_year_recid"
X_ALL = ['sex','Greater than 45','Less than 25','juv_fel_count','decile_score','juv_misd_count',
         'juv_other_count','priors_count','race','c_charge_degree']

In [78]:
# 5:1:1 split
np.random.seed(5243)
train, test = train_test_split(compas_encoded, test_size=1/7)
train, val = train_test_split(train, test_size=1/6)

In [79]:
print(train.shape, test.shape, val.shape)

(4392, 11) (879, 11) (879, 11)

In [82]:
X_train = train[X_ALL]
L_train = train[X]
s_train = train[S]
e_train = train[E]
y_train = train[Y]

X_val = val[X_ALL]
L_val = val[X]
s_val = val[S]
e_val = val[E]
y_val = val[Y]

X_test = test[X_ALL]
L_test = test[X]
s_test = test[S]
e_test = test[E]
y_test = test[Y]

In [89]:
clf = LogisticRegression(random_state=0).fit(X_train, y_train)
clf.score(X_val, y_val)

0.6814562002275313

## Create functions used in pseudocode

In [91]:
# Creates a list of partitions - 1 for each unique value of e

# X is the full dataset (in our case, train)
# e is the 
def PARTITION(X):
    partitions = list()
    
    for e_i in np.unique(X[E]):
        partitions.append(X[X[E]==e_i])
    
    return partitions

In [93]:
def DELTA(X, X_ei, s_i):
    Gi = sum(X_ei[S] == s_i)
    
    X_ei_si = X_ei[X_ei[S] == s_i]
    
    P_denom = X_ei_si.shape[0]
    P_num = sum(X_ei_si[Y] == 1)
    P = P_num/P_denom
    
    X_ei_not_si = X_ei[X_ei[S] != s_i]
    
    Ps_2 = sum(X_ei_not_si[Y] == 1)/X_ei_not_si.shape[0]
    
    Ps = (P+Ps_2)/2
    
    d = int(round(Gi * abs(P - Ps)))
    
    return(d)

In [99]:
for X_ei in PARTITION(train):
    ranker_model = LogisticRegression(random_state=0).fit(X_ei[X], X_ei[Y])

In [107]:
ranker_model.decision_function(PARTITION(train)[0][PARTITION(train)[0][S]==1][X]).shape

(814,)

In [102]:
ranker_model.predict(val[X][:10])

array([1, 0, 0, 1, 1, 1, 0, 0, 1, 1])

In [103]:
ranker_model.predict_proba(val[X][:10])

array([[0.34899476, 0.65100524],
       [0.69225877, 0.30774123],
       [0.6065416 , 0.3934584 ],
       [0.33548326, 0.66451674],
       [0.21149971, 0.78850029],
       [0.10909086, 0.89090914],
       [0.60004459, 0.39995541],
       [0.72700983, 0.27299017],
       [0.31074318, 0.68925682],
       [0.33561283, 0.66438717]])